@import "./Variables.scss";

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    background: radial-gradient(circle, rgba(87,135,199,1) 35%, rgba(52,124,212,1) 100%);
    .form_title{
        width: 60%;
        margin: auto;
        margin-top: 30px;
        padding-top: 70px;
        font-family: $main-font-familiy;
        color: white;
        font-size: 4em;
        margin-bottom: 60px;
        padding-bottom: 20px;
        text-align: center;
        border-top: 8px solid white;
        border-radius: 50%;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
        @media (max-width:1500px){
            font-size: 3em;
        }
        @media (max-width:1152px){
            font-size: 2.5em;
        }
        @media (max-width:894px){
            font-size: 2.3em;
            width: 70%;
        }
        @media (max-width:728px){
           width: 80%;
        }
        @media (max-width:580px){
            width: 100%;
            font-size: 2em;
            margin-bottom: 25px;
        }
    }
    .form_text{
        color: white;
        font-family: $main-font-familiy;
        font-size: 2em;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
        margin-bottom: 90px;
        @media (max-width:1440px){
            font-size: 1.9em;
        }
        @media (max-width:1152px){
            font-size: 1.7em;
        }
        @media (max-width:894px){
            font-size: 1.5em;
            margin-bottom: 70px;
        }
        @media (max-width:728px){
            font-size: 1.3em;
        }
        @media (max-width:580px){
            width: 80%;
            text-align: center;
            font-size: 1.2em;
        }
    }
    .form-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        @media (max-width:1152px){
            width: 80%;
        }
        @media (max-width:528px){
            width: 95%;
        }
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        border: 6px solid white;
        border-radius: 10%;
        padding: 40px 80px 60px 80px;
        margin-bottom: 90px;
        box-shadow: $third-text-color 0px 2px 4px, $secondary-text-color 0px 7px 13px -3px, $third-text-color 0px -3px 0px inset;
        @media (max-width:728px){
            border: 1px solid white;
        }
        @media (max-width:580px){
            padding: 40px 20px 60px 20px;
            border-radius: 50px;
        }
    }
    .form-container input{
        width: 90%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 50px;
        color: $secondary-text-color;
        font-family: $secondary-font-family;
        font-size: 2em;
        box-shadow: 0px 2px 2px 0px $third-text-color inset,
        0px 2px 2px 0px $main-text-color;
        @media (max-width:1152px){
            width: 75%;
            padding: 10px;
            font-size: 1.5em;
        }
        @media (max-width:894px){
            padding: 6px;
            font-size: 1.3em;
        }
        @media (max-width:728px){
            width: 100%;
            padding: 4px;
        }
        @media (max-width:580px){
            padding: 3px;
            font-size: 1em;
        }
        @media (max-width:480px){
            width: 100%;
        }
    }
    .form-container label{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        color: $third-text-color;
        font-family: $secondary-font-family;
        font-size: 2em;
        margin-bottom: 20px;
        @media (max-width:1152px){
            font-size: 1.7em;
        }
        @media (max-width:894px){
            font-size:1.5em;
        }
        @media (max-width:728px){
            font-size: 1.3em;
        }
        @media (max-width:580px){
            font-size: 1em;
        }
    }
    .form-container textarea{
        width: 100%;
        height: 400px;
        resize: none;
        margin-bottom: 50px;
        color: $secondary-text-color;
        font-family: $secondary-font-family;
        font-size: 2em;
        border-radius: 50px;
        padding: 30px;
        box-shadow: 0px 2px 2px 0px $third-text-color inset,
        0px 2px 2px 0px $main-text-color;
        @media (max-width:1152px){
            width: 75%;
            height: 300px;
            font-size: 1.3em;
        }
        @media (max-width:894px){
            height: 250px;
            font-size: 1.1em;
        }
        @media (max-width:724px){
            width: 100%;
        }  
          @media (max-width:580px){
            font-size: 1em;
            height: 150px;
            border-radius: 10px;
            padding: 10px;
        }
    }
    .form-container .button{
        background: radial-gradient(circle, $main-text-color 50%, $secondary-text-color 100%);
        color: $third-text-color;
        font-family: $secondary-font-family;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        box-shadow:
        0px 2px 2px 0px rgba(0, 0, 0, 0.5),
        0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
        @media (max-width:1152px){
            width: 55%;
            font-size: 1.5em;
        }
        @media (max-width:724px){
            font-size: 1.3em;
        }
        @media (max-width:580px){
            font-size: 1em;
        }
        
    }
    .form-container .button:hover{
        border: $third-text-color 1px solid;
    }
    .success{
        width: 600px;
        text-align: center;
        background-color: $third-text-color;
        color: $main-text-color;
        font-family: $secondary-font-family;
        font-weight: bold;
        padding: 20px;
        margin-top: 50px;
        font-size: 2em;
        border-radius: 50px;
        box-shadow:
        0px 2px 2px 0px rgba(0, 0, 0, 0.5),
        0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
        position: relative;
        border: 4px solid $secondary-text-color;
        display: none;
        @media (max-width:1152px){
            font-size: 1.1em;
            width: 100%;
        }

    }
    .success--show{
        display: flex;
        width: 600px;
        text-align: center;
        background-color: $third-text-color;
        color: $main-text-color;
        font-family: $secondary-font-family;
        font-weight: bold;
        padding: 20px;
        margin-top: 50px;
        font-size: 2em;
        border-radius: 50px;
        box-shadow:
        0px 2px 2px 0px rgba(0, 0, 0, 0.5),
        0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
        position: relative;
        border: 4px solid $secondary-text-color;
        animation-name: fadeOut;
        animation-duration: 5.5s;
        animation-fill-mode: both;
        @media (max-width:1152px){
            font-size: 1.1em;
            width: 100%;
        }
    }
    @keyframes fadeOut {
        0% {opacity: 1;}
        50%{opacity: 1;}
        100% {opacity: 0;}
    }
}