@import "./Variables.scss";

.footer-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h2{
        width: 60%;
        text-align: center;
        font-family: $main-font-familiy;
        font-size: 4em;
        font-weight: bold;
        color: $main-text-color;
        margin:auto;
        margin-top: 40px;
        margin-bottom: 70px;
        @media (max-width:1440px){
            font-size: 3em;
        }
        @media (max-width:1152px){
            font-size: 2.5em;
        
        }
        @media (max-width:894px){
            font-size: 2.3em;
            
        }
        @media (max-width:724px){
            width: 100%;
        }
        @media (max-width:580px){
            font-size: 2em;
        }
        @media (max-width:450px){
            font-size: 1.8em;
            line-height: 40px;
        }

    }
    .link-block{
        display: flex;
        width: 100%;
        margin:auto;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        margin-left: 150px;
        @media (max-width:1152px){
            margin-left: 90px;
        }
        @media (max-width:748px){
            width: 90%;
            margin-left: 70px;
        }
        @media (max-width:548px){
            margin-left: 40px;
        }
        @media (max-width:375px){
            margin-left: 20px;
        }

    }
    a{
        width: 50%;
        @media (max-width:594px){
            width: 20%;
        }
    }
    img{
        width: 50%;
        @media (max-width:594px){
            width: 80%;
        }
    }
}