@import "./Variables.scss";

.footer-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h2{
        width: 60%;
        text-align: center;
        font-family: $main-font-familiy;
        font-size: 4em;
        font-weight: bold;
        color: $main-text-color;
        margin:auto;
        margin-top: 40px;
        margin-bottom: 70px;
    }
    .link-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 130px;
        margin-bottom: 30px;
    }
    a{
        width: 30%;
    }
    img{
        width: 70%;
    }
}