@import "./Variables.scss";

#accueil{
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-top: 150px;
    h1{
        width: 60%;
        background: radial-gradient(circle, rgba(87,135,199,1) 35%, rgba(52,124,212,1) 100%);
        border-radius: 60px;
        font-family: $main-font-familiy;
        color: white;
        font-size: 7.1em;
        margin-left: 350px;
        padding-bottom: 20px;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
        }
    p{  
        display: flex;
        flex-wrap: wrap;
        width: 59%;
        color: $secondary-text-color;
        font-family: $secondary-font-family;
        font-weight: bold;
        margin-left: 370px;
        animation: typing 3.5s steps(40), blink-caret 1s step-end infinite;
        white-space: nowrap;
        letter-spacing: .05em; /* Adjust as needed */
        overflow: hidden;
        border-right: 3px solid orange;
        font-family: monospace;
        font-size: 3em;
    }

    /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 60% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
}