@import "./Variables.scss";

#accueil{
    width: 100%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    img{
      margin-top: 220px;
      margin-left: 100px;
      width: 30%;
      object-fit: cover;
      border-radius: 50%;
    }
    .intro_block{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
    h2{
      width: 80%;
      background: radial-gradient(circle, rgba(87,135,199,1) 35%, rgba(52,124,212,1) 100%);
      border-radius: 60px;
      font-family: $main-font-familiy;
      color: white;
      font-size: 6.5em;
      padding-bottom: 20px;
      text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
           0px 8px 13px rgba(0,0,0,0.1),
           0px 18px 23px rgba(0,0,0,0.1);
      margin-top: 250px;        
    }
    .typing{  
        display: flex;
        flex-wrap: wrap;
        width: 81%;
        color: $secondary-text-color;
        font-weight: bold;
        margin-top: 150px;
        animation: typing 3.5s steps(40), blink-caret 1s step-end infinite;
        white-space: nowrap;
        letter-spacing: .05em; 
        overflow: hidden;
        border-right: 3px solid orange;
        font-family: monospace;
        font-size: 3em;
    }

    /* effet "Typing"*/
@keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
  
  /* Effet du curseur*/
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
}